.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 10px;
  padding: 10px;
  justify-content: center;
  grid-gap: 0.3%;
  margin-right: 0px;

}

@media screen and (min-width: 800px) {
  .container {
    grid-template-columns: repeat(4, 25%);
  }
}
@media screen and (min-width: 1200px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid: 0.5%;


  }
}
