.container{
    background: linear-gradient(180deg, #f6f5f5 26.71%, #929292 99.36%);
    margin-top: 20px;
    margin-left: 2.5%;
    width: 95%;
    display: flex;


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.izquierda{
    width: 25%;
    padding: 20px;
}
.derecha{
    width: 70%;
    margin: 25px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 10px;
    box-shadow: 0 10px 1cap rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);

}

.imagen {
    width: auto;
    height: auto;
    text-align: center;
    padding: 20px;
    }

.descripcion{
    padding: 20px;
text-align: justify;
    }

    .detalles{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: first baseline;
        background-color: rgba(255, 255, 255, 0.421);
        border-radius: 10px;
        padding: -10px;
        }

    .button {
  background-color: #c50d0d;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 50%;
  align-items: baseline;
  text-align: center;
}

.button:hover {
  background-color: #d33434;
}